@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*BÁSICO*/
*{ font-family: 'Poppins', sans-serif; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 300ms ease-in;-moz-transition:all 300ms ease-in;-o-transition:all 300ms ease-in;transition:all 300ms ease-in;}
ul,li { list-style:none; }
*:focus { outline:none; }
.clear { clear:both; }
a, a:hover, a:visited { text-decoration:none; border:0 none; color: inherit; }
img { border:0 none; max-width: 80%; }
textarea { resize:none; }
input, textarea, select { -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; -ms-appearance: none; -webkit-border-radius: 0; }
select::-ms-expand { display: none; }
select { text-indent: 0.01px; text-overflow: ''; }
select::-ms-expand { display: none; }
body { margin: 0; }
.row { margin: 0; }
.container { width: 80%; max-width: 1140px; margin: 0 auto;}
.swiper-container { position: relative; }
.swiper-container, .swiper-wrapper, .swiper-slide { height: auto; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; }
.swiper-pagination { position: absolute; width: 80%; bottom: 25px; left: 0px; text-align: center; z-index: 1; }
.swiper-pagination .swiper-pagination-bullet { border-radius: 0; cursor: pointer; display: inline-block; width: 30px; height: 3px; background-color: rgba(255, 255, 255, 0.5); margin-left: 7px; }
.swiper-pagination .swiper-pagination-bullet-active { background: blue; }
.swiper-button-next {
	right: 120px;
	margin-top: -10px;
	display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	opacity: 0.6;
background-color: #330000;
}

.swiper-button-prev {
	left: 100px;
	margin-top: -10px;
	display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	opacity: 0.6;
background-color: #330000;
}

@media (max-width: 1170px){
	.container { padding: 0 10px; }
}

/*BANNER*/
.home .banner { display: block; }
.bannerC { width: 80%; display: inline-block; overflow: hidden; position: relative; }
.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 200px; display: block; }

@media (max-width: 1070px){
	.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 400px; }
}
@media (max-width: 900px){
	.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 350px; }
}
@media (max-width: 767px){
	.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 200px; }
	.swiper-button-next{ right: 15px; }
	.swiper-button-prev { left: 15px; }
}
@media (max-width: 630px){
	.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 200px; }
}
@media (max-width: 400px){
	.bannerC, .bannerC .swiper-slide, .bannerC .imagem { height: 150px; }
}

/*MENU*/
.menuMobile { display: none; }
.menu { background-color: #002194; padding: 20px 0; }
.menu .container { display: flex; }
.menu img { float: left; padding-right: 10px; display: inline-block; }
.menu ul { margin: 0; }
.menu ul li { float: left; padding: 5px 10px; }
.menu ul li a { color: rgba(255, 255, 255, 0.5); font-size: 20px; }
.menu ul li a:hover { text-decoration: none; color: rgba(255, 255, 255, 0.75); }

.menu .abre_menu {
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 13px;
    height: 40px;
    border-radius: 5px;
    right: 10px;
    position: absolute;
    display: none;
}
.abre_menu span { width: 23px; height: 2px; display: block; background: #8090ca; margin-top: 0px; z-index: 99; -webkit-transition:all 300ms ease-in;-moz-transition:all 300ms ease-in;-o-transition:all 300ms ease-in;transition:all 300ms ease-in;}
.abre_menu span:before { content: ''; width: 23px; height: 2px; display: block; background: #8090ca; margin-top: 8px; z-index: 99; position: absolute; -webkit-transition:all 300ms ease-in;-moz-transition:all 300ms ease-in;-o-transition:all 300ms ease-in;transition:all 300ms ease-in;}
.abre_menu span:after { content: ''; width: 23px; height: 2px; display: block; background: #8090ca; margin-top: 16px; z-index: 99; position: absolute; -webkit-transition:all 300ms ease-in;-moz-transition:all 300ms ease-in;-o-transition:all 300ms ease-in;transition:all 300ms ease-in;}

body {
	background-color: #f1f1fb;
}
.produtos {
	margin-bottom: 60px;
}
.produtos .itens img {
    margin: 0 auto;
    display: block;
}
.produtos .fundo {
	position: relative;
	background-image: url('../images/Logo_02.jpg');
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.produtos .overlay {
    background-color: rgba(25, 118, 210, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.produtos .container {
	position: relative;
    z-index: 12;
    color: #fff;
}
h2 {
	font-size: 1.6em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 8px;
    color: #fff;
    text-align: center;
}
h3 {
	font-weight: 200;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}
.produtos .right {
	text-align: right;
	margin-bottom: 20px;
}
.produtos .right .meio {
	margin-right: 5px;
}
.produtos .branco {
	background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #e9e9ef;
}
.produtos .branco select {
	border: 1px solid #f1f1f1;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 13px;
    background: url('img/select.png') no-repeat center right;
}
.produtos .itens .itemProduto {
	margin-top: 25px;
	display: none;
	   color: #8B0000;
}
.produtos .itens .itemProduto .prod {
	background-color: #ffffff;
    border: 1px solid rgba(103, 103, 103, 0.1);
    cursor: pointer;
		   color: #8B0000;
}
.produtos .itens .itemProduto .bottom {
    padding: 25px 30px;
    border-top: 1px solid #f2f2f2;
		   color: #8B0000;
}
.produtos .itens .itemProduto .bottom .categoria {
    width: 100%;
	   color: #8B0000;
	   text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 3px;
}
.produtos .itens .itemProduto .bottom .nome {
    width: 100%;
	   color: #8B0000;
    font-size: 18px;
    min-height: 50px;
}
.produtos .itens .itemProduto .prod .topo {
	position: relative;
		   color: #8B0000;
} 
.produtos .itens .itemProduto .prod .topo .hover {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(241, 241, 251, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 0.5s;
		   color: #8B0000;
}
.produtos .itens .itemProduto .prod:hover .topo .hover {
    opacity: 1;
		   color: #8B0000;
}
.produtos .itens .itemProduto .prod .topo .hover .icone {
	background: url('img/lupa.png') no-repeat center center;
	    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
		   color: #8B0000;
}
#produtoCategoria {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}
#produtoEspecificao p {
    margin: 5px 0;
    font-size: 20px;
}


.rodape {
	background-color: #002194;
	text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}
.rodape p {
	margin-bottom: 0;
}

@media (max-width: 767px){

	.menu .abre_menu {
		display: block;
	}
	.menu ul {
		display: none;
	}
	.menuMobile.aberto, .menuMobile.aberto ul {
		display: block;
	}
	.menuMobile {
		margin-top: 10px;
	}
	.menuMobile ul {
		padding: 0;
	}
	.menuMobile ul li { 
		float: none;  
		width: 100%;
	}
	.menuMobile ul li a {

	}
}