	body {
	margin: 0;
	padding: 0;
	}

	#map { position:absolute; top:30px; bottom:0; width:98%; margin: 1% 1% 1% 1% ; padding: 1% 1% 1% 1%; }
	.mapboxgl-popup {
	padding-bottom: 5px;
	}
	.mapboxgl-popup-close-button {
	display: block;
	}
	.mapboxgl-popup-content {
	padding: 0;
	width: auto;
	height: auto;
	border-radius: 10%;
	opacity: 0.9;
	line-height:0.8;
	}
	.mapboxgl-popup-content-wrapper {
	padding: 1%;
	}
	.mapboxgl-popup-content h3 {
	font: bold 15px 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
	color: #0404B4;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	margin-top: 5px;
	line-height:1.2;
	}
	.mapboxgl-popup-content h4 {
	font: bold 12px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	line-height:0.9;
	color: #0174DF;
	}
	.mapboxgl-container {
	cursor: pointer;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
	margin-top: 3px;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
	border-bottom-color: rgb(61, 59, 59);
	}
	/*TRECHO ADICIONADO */
	.marker {
	background-image: url('/img_mapa/building.svg');
	background-color: #;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
	.geocoder {
	position:fixed;
	z-index:2;
	width:40%;
	left:1%;
	margin-left:1%;
	top:5%;
	}
	.rodape {
	position:fixed;
	margin-left:25%;
	bottom:8px;
    color: #800000;
	}
	/*FORMATAR EXIBIÇÃO TELEFONE */
	a[href^="tel:"]:before {
    content: "\260E";
	color: #800000;
    margin-right: 0.5em;
}
    #zoom  {
        display: block;
        position: absolute;
        margin: 30px 250px 20px;
        width: 20%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ee8a65;
    }
	    #inicial  {
        display: block;
        position: absolute;
        margin: 80px 250px 20px;
        width: 20%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ee8a65;
    }

