body{
margin-top: 5px;
height:90%;
}
	#map { position:absolute; top:12%; bottom:3%; width:98%; margin: 1% 1% 10% 1% ; padding: 1% 1% 1% 1%; 
	}
    #menu {
		text-align: center;
		background: gray;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		height: 15%;
    }
	.mapboxgl-popup {
	padding-bottom: 5px;
	width: auto;
	height: auto;
	}
	.mapboxgl-popup-close-button {
	display: none;
	}
	.mapboxgl-popup-content {
	padding: 0;
	width: auto;
	height: auto;
	border-radius: 10%;
	opacity: 0.9;
	line-height:0.8;
		word-wrap: break-word;
	}
	.mapboxgl-popup-content-wrapper {
	padding: 1%;
	width: auto;
	height: auto;
	word-wrap: break-word;
	}
	.mapboxgl-popup-content h3 {
	font: bold 15px 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
	color: #0404B4;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	margin-top: 5px;
	line-height:1.2;
		word-wrap: break-word;
	}
	.mapboxgl-popup-content h4 {
	font: bold 12px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	line-height:0.9;
	color: #0174DF;
		word-wrap: break-word;
	}
	.mapboxgl-container {
	cursor: pointer;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
	margin-top: 3px;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
	border-bottom-color: rgb(61, 59, 59);
	}
	/*Estilos dos marcadores */
	.marker_Supermercado {
	background-image: url('../mapas/img_mapa/grocery-15.svg');
    background-color: #e5e5a8;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
	.marker_Escola {
	background-image: url('../mapas/img_mapa/college-15.svg');
        background-color: #e5fded;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
	.marker_Farmácia {
	background-image: url('../mapas/img_mapa/pharmacy-15.svg');
        background-color: #f3e699;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Mat_Construção {
	background-image: url('../mapas/img_mapa/warehouse-15.svg');
        background-color: #f7f9b0;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Padaria {
	background-image: url('../mapas/img_mapa/Padaria.svg');
        background-color: #f9fbcb;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Mobilidade {
	background-image: url('../mapas/img_mapa/rail-15.svg');
        background-color: #eebcb6;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Comercio {
	background-image: url('../mapas/img_mapa/ic_compras.svg');
        background-color: #f1f57c;

	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Utilidades {
	background-image: url('../mapas/img_mapa/commercial-15.svg');
        background-color: gray;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Banco {
	background-image: url('../mapas/img_mapa/bank-15.svg');
        background-color: #89a6f6;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Serviço_Público {
	background-image: url('../mapas/img_mapa/building-15.svg');
        background-color: #7cf5a4;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Igreja {
	background-image: url('../mapas/img_mapa/place-of-worship-15.svg');
        background-color: #b0f9c8;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}			
		.marker_Lazer {
	background-image: url('../mapas/img_mapa/theatre-15.svg');
        background-color: #c2eaca;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}	
		.marker_Ponto_de_Interesse {
	background-image: url('../mapas/img_mapa/tourist_view_point.svg');
        background-color: #dd7a6d;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}		
		.marker_Outros  {
	background-image: url('../mapas/img_mapa/marker-15.svg');
        background-color: #cdcbcb;
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	}	
		.marker_Alimentação {
	background-image: url('../mapas/img_mapa/restaurant-15.svg');
        background-color: #f9fbcb;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}

		.marker_Informática {
	background-image: url('../mapas/img_mapa/logo_01.jpg');
        background-color: #f9fbcb;
	background-size: cover;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	cursor: pointer;
	}

	.geocoder {
	position:fixed;
	z-index:2;
	width:40%;
	left:1%;
	margin-left:1%;
	top:10%;
	}

	/*FORMATAR EXIBIÇÃO TELEFONE */
	a[href^="tel:"]:before {
    content: "\260E";
	color: #800000;
    margin-right: 0.5em;
}
    #zoom  {
        display: block;
        position: fixed;
        margin: 1px 80px 20px;
        width: 8%;
        height: 6%;
        padding: 10px;
        border-radius: 3px;
        font-size: 1em;
        text-align: center;
        background: #ee8a65;
        background-image: url('../mapas/img_mapa/search-plus.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        border: 2px solid #000;	
    }
	    #inicial  {
        display: block;
        position: fixed;
        margin: 1px 180px 20px;
        width: 8%;
        height: 6%;
        padding: 10px;
        border-radius: 3px;
        font-size: 1em;
        background: #ee8a65;
        background-image: url('../mapas/img_mapa/search-minus.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff; 
        border: 2px solid #000; 
    }
.draw {
position:absolute;
z-index:1;
width:auto;
right:20px;
top:20%;
}

#footer  {
font-size: 20px;
margin-bottom: 10%;
color: red;
}
