	body {
	margin: 0;
	padding: 0;
	}

	#map { position:absolute; top:30px; bottom:0; width:98%; margin: 1% 1% 1% 1% ; padding: 1% 1% 1% 1%; }
			    #menu {
	text-align: center;
        background: black;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }
	.mapboxgl-popup {
	padding-bottom: 5px;
	}
	.mapboxgl-popup-close-button {
	display: block;
	}
	.mapboxgl-popup-content {
	padding: 0;
	width: auto;
	height: auto;
	border-radius: 10%;
	opacity: 0.9;
	line-height:0.8;
	}
	.mapboxgl-popup-content-wrapper {
	padding: 1%;
	}
	.mapboxgl-popup-content h3 {
	font: bold 15px 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
	color: #0404B4;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	margin-top: 5px;
	line-height:1.2;
	}
	.mapboxgl-popup-content h4 {
	font: bold 12px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	text-align: left;
	margin: 0;
	display: block;
	padding: 5px;
	line-height:0.9;
	color: #0174DF;
	}
	.mapboxgl-container {
	cursor: pointer;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
	margin-top: 3px;
	}
	.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
	border-bottom-color: rgb(61, 59, 59);
	}
	/*TRECHO ADICIONADO */
	.marker_Supermercado {
	background-image: url('../MAPAS/img_mapa/grocery-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
	.marker_Escola {
	background-image: url('../MAPAS/img_mapa/college-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
	.marker_Farmácia {
	background-image: url('../MAPAS/img_mapa/pharmacy-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Mat.Construção {
	background-image: url('../MAPAS/img_mapa/warehouse-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Padaria {
	background-image: url('../MAPAS/img_mapa/bakery-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Mobilidade {
	background-image: url('../MAPAS/img_mapa/rail-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Comercio {
	background-image: url('../MAPAS/img_mapa/ic_compras.svg');
        background-color: #fff;

	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Utilidades {
	background-image: url('../MAPAS/img_mapa/commercial-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Banco {
	background-image: url('../MAPAS/img_mapa/bank-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Serviço_Público {
	background-image: url('../MAPAS/img_mapa/building-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}
		.marker_Igreja {
	background-image: url('../MAPAS/img_mapa/place-of-worship-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}			
		.marker_Lazer {
	background-image: url('../MAPAS/img_mapa/theatre-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}	
		.marker_Ponto_de_Interesse {
	background-image: url('../MAPAS/img_mapa/star-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}		

		.marker_Outros  {
	background-image: url('../MAPAS/img_mapa/marker-15.svg');
        background-color: #fff;
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	}	
	
	.geocoder {
	position:fixed;
	z-index:2;
	width:40%;
	left:1%;
	margin-left:1%;
	top:5%;
	}
	.rodape {
	position:fixed;
	margin-left:25%;
	bottom:8px;
    color: #800000;
	}
	/*FORMATAR EXIBIÇÃO TELEFONE */
	a[href^="tel:"]:before {
    content: "\260E";
	color: #800000;
    margin-right: 0.5em;
}
    #zoom  {
        display: block;
        position: absolute;
        margin: 1px 80px 20px;
        width: 10%;
        height: 2em;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        text-align: center;

        background: #ee8a65;
        background-image: url('../MAPAS/img_mapa/search-plus.svg');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #fff;
        border: 2px solid #000;
		
    }
	    #inicial  {
        display: block;
        position: absolute;
        margin: 1px 250px 20px;
        width: 10%;
        height: 2em;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        text-align: center;
        color: #fff;
        background: #ee8a65;
        background-image: url('../MAPAS/img_mapa/search-minus.svg');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #fff; 
        border: 2px solid #000; 
        text-indent: 25px; 		

    }

