body { margin:0; padding:0; }
	#map { position:absolute; top:40px; bottom:0; width:98%; margin: 1% 1% 1% 1% ; padding: 1% 1% 1% 1%; }
.info-box {
height: auto;
width: 100px;
position: absolute;
background-color: rgba(255, 255, 255, .9);
padding: 5px;
text-align: justify;
font:600 16px/30px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
margin: 2% 2% 2% 2%;
font-size: 13px;
}

#calculated-line {
border:1px solid black;
height: 130px;
width: 200px;
position: absolute;
top: 60px;
right: 60px;
background-color:#F0F8FF;
padding: 5px;
text-align: left;
line-height:1em;
margin: 1px 1px;
color:#2F4F4F;
font:600 16px/30px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}

#calculated-line:before {
content: "******* CÁLCULO *******";
}

.draw {
position:fixed;
z-index:1;
width:10%;
right:20px;
top:30%;

}
.draw:before {
content: "Definir";
}

.draw:after {
content: "Rota";
}

.geocoder {
position:fixed;
z-index:1;
width:50%;
left:10%;
top:40px;
}

p{
line-height:0.6;	
	
	
}
